## 00. Table of Contents

01. Import Libraries
02. Import Data
03. Review Data
04. Group Data
05. Export Data

## 01. Import libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

print(f"Import libraries completed")

Import libraries completed

## 02. Import data

In [3]:
# Import ords_prods_grouped.pkl as DataFrame df_ords_prods_merge

folder_path = r'/Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/'

file_name = 'ords_prods_grouped.pkl'

df_ords_prods_merge = pd.read_pickle(os.path.join(folder_path, '02 Data', 'Prepared Data', file_name))

print(f"DataFrame df_ords_prods_merge created")

DataFrame df_ords_prods_merge created

## 03. Review data

In [4]:
# Review DataFrame

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders

In [5]:
# Review variable/row dimensions for the DataFrame

df_ords_prods_merge.shape

(32435070, 20)

## 04. Group data

### Exercise Step 2

In [6]:
# Group and aggregate by department_id

df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

### Exercise Step 3

---

Running the function on the full dataset produced results for every department_id.

---

### Exercise Step 4

In [8]:
# Group and transform user_id

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

print(f"New variable created.")

New variable created.

In [9]:
# Review DataFrame

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,...,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10.0
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,...,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,...,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,...,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,...,Soda,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0

In [10]:
# Populate the column using a loc() function.

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

print(f"Column populated with loc() function")

Column populated with loc() function

In [11]:
# Review DataFrame

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,...,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10.0,New customer
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,...,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,...,77.0,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,...,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,...,77.0,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer

In [12]:
# Verify the value counts

df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891507
Loyal customer      10294027
New customer         6249525
nan                       11
Name: count, dtype: int64

### Exercise Step 5

In [15]:
# Group and aggregate the variable

df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0
nan                8.327273  1.7     15.0

### Exercise Step 6

In [17]:
# Group and transform prices variable

df_ords_prods_merge['avg_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

print(f"New variable created.")

New variable created.

In [18]:
# Review DataFrame

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,...,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10.0,New customer,6.367797
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,...,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,...,7.0,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,...,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,...,7.0,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797

In [19]:
# Populate the column using a loc() function.

df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] < 10, 'spending_type'] = 'Low spender'
df_ords_prods_merge.loc[df_ords_prods_merge['avg_price'] >= 10, 'spending_type'] = 'High spender'

print(f"Column populated with loc() function")

Column populated with loc() function

In [20]:
# Review DataFrame

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_type
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,...,9.0,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10.0,New customer,6.367797,Low spender
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,...,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,...,9.0,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,...,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,...,9.0,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender

In [22]:
# Verify the value counts

df_ords_prods_merge['spending_type'].value_counts(dropna = False)

spending_type
Low spender     31800381
High spender      634678
nan                   11
Name: count, dtype: int64

### Exercise Step 7

In [23]:
# Group and transform user_id

df_ords_prods_merge['order_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

print(f"New variable created.")

New variable created.

In [24]:
# Review DataFrame

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_type,order_frequency
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,...,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,10.0,New customer,6.367797,Low spender,20.5
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,...,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,...,Mid-range product,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,...,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,...,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5

In [25]:
# Populate the column using a loc() function.

df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] > 20, 'customer_frequency'] = 'Non-frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['order_frequency'] <= 20) & (df_ords_prods_merge['order_frequency'] > 10), 'customer_frequency'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['order_frequency'] <= 10, 'customer_frequency'] = 'Frequent customer'

print(f"Column populated with loc() function")

Column populated with loc() function

In [26]:
# Review DataFrame

df_ords_prods_merge.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_type,order_frequency,customer_frequency
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10.0,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,...,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,...,Mid-range product,Regularly busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,...,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,...,Mid-range product,Least busy,Slowest days,Average orders,10.0,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [27]:
# Verify the value counts

df_ords_prods_merge['customer_frequency'].value_counts(dropna = False)

customer_frequency
Frequent customer        21578273
Regular customer          7217066
Non-frequent customer     3639720
nan                            11
Name: count, dtype: int64

## 05. Export data

In [28]:
# Define the folder path and file name

folder_path = r'/Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/'

file_name = 'ords_prods_agg.pkl'

# Create the full file path

file_path = os.path.join(folder_path, '02 Data', 'Prepared Data', file_name)

# Export the DataFrame to a PKL file

df_ords_prods_merge.to_pickle(file_path)

print(f"DataFrame exported to {file_path}")

DataFrame exported to /Users/bertpearce/Documents/Python Projects/2024.05.22 Instacard Basket Analysis/02 Data/Prepared Data/ords_prods_agg.pkl